
 body {
 	margin: 30px 2% 60px 2%;
	font-family: sans-serif;
	background-color: #fff;
	opacity: 1;

	-webkit-transition: opacity .2s; /* For Safari 3.1 to 6.0 */
  	transition: opacity .2s;
  	transition-timing-function: ease;
  	transition-delay: 0s;

  	animation: 1s linear 0s 1 slideInFromLeft;
}

.hero {
	height: 400px;
	padding: 5px;
	color: white;
	background-color: #49beb7;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


h1.logo {
	margin: 10px 0 50px 0;
}

.logo img {
	color: white; 
	background-color: white;
	border: solid 1px white;  
	border-radius: 100px;
	width: 100px;
	height: 100px;
	padding: 10px;
}

.hero p {
	display: inline-block;
	margin: 0 20% 0 20%;
	text-align: center;
}

.hero span {
	font-size: 18px;

}

form {
	margin: 30px 0 30px 0;
	border: solid 1px #32dbc6;
	border-radius: 5px;
	padding: 15px;
	padding-bottom: 20px;
	background-color: #ebefd0;
}

form h3 {
	margin-top: 5px;
	color: #085f63;
}

input[type='text'] {
	border: none;
	border-radius: 5px;
	background-color: #ddd;
	box-shadow: 2px 5px 2px inset #999;
	font-weight: 600;
	color: #c63356;
	outline: none;
	padding: 5px;
}

.btn:focus {
	color: #ebefd0;
	background-color: #085f63;
	outline-color: #c63356;
}

.btn:active {
	color: white;
	background-color: #c63356;
}

.btn {
	border: none;
	border: solid 1px #ebefd0;
	color: #fff;
	background-color: #49beb7; /*#c63356 #f9cf11*/
	border-radius: 5px;
	font-weight: 600;
	padding: 5px;
	margin: 2px;
	width: fit-content;
}

.border {
	border: solid 3px #49beb7;
	border-radius: 8px;
}

.card {
	display: flex;
	align-items: center;
	background-color: #085f63;  /* CARD BACKGROUND-COLOR*/
	padding: 5px;
	margin: 15px 0 15px 0;
	height: 180px;

	/*animation: 1s ease-out 0s 1 slideInFromLeft;
	-webkit-transition: height 3s, background-color 2s;  For Safari 3.1 to 6.0 
  	transition: height 3s, background-color 2s;
  	transition-timing-function: ease;*/
}

.card img {
	border-radius: 5px;
	margin: 0 5px 0 5px;
}

div.info  {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 85%;
	margin-left: 10px;
	color: white;
}

.info h3 {
	font-size: 1rem;
	border-bottom: solid 1px #ebefd0;
	max-height: 100px;
	width: 170px;
	margin: 2px 2px 5px 2px;
	padding-bottom: 5px;
}

.info p {
	font-size: 12px;
	margin: 0;
	margin-left: 10px;
	margin: 2px;
	font-weight: 600;
	color: #fff;
	opacity: 1;
}

.info .button-container {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.expand {
	align-items: flex-start;
	flex-flow: wrap;
  	height: fit-content; /*Killing it; greatest invention in CSS*/
}

.synopsis {
	display: flex;
	flex-direction: column;
}
 
h4.synopsis {
	margin: 0;
	margin-bottom: 3px;
	padding: 5px 0 5px 0;
	text-align: center;
	position: relative;
	top: 10px;
	background-color: #49beb7;
	color: #000;
	border: solid 2px white;
	border-radius: 8px;

}

div.synopsis > p {
	margin: 0;
	margin-bottom: 20px;
	padding: 20px 10px 20px 10px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .8px;
	line-height: 26px;
	text-align: left; /* MAYBE NOT NECESSARY */
	color: black;
	background-color: #eff;
	border-radius: 10px;
	border:solid 2px white;
}

.hidden {
	display: none;
	opacity: 0;

	-webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
  	transition: opacity 1s;
  	transition-timing-function: ease-out;
}

h4.trailer {
	margin: 0;
	margin-bottom: 3px;
	padding: 5px 0 5px 0;
	text-align: center;
	position: relative;
	top: 10px;
	background-color: #49beb7;
	color: #000;
	border: solid 2px white;
	border-radius: 8px;
}

 .video {
	margin: 0;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center; /* MAYBE NOT NECESSARY */
	background-color: #011d30;
	border-radius: 10px;
	border:solid 2px white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (min-width: 750px) {

	.hero {
		font-size: 30px;
	}

	div.logo {
		flex-direction: row;
	}

	.logo img {
		margin-right: 50px;
	}

	.hero span {
		font-size: 30px;
	}

	form {
		margin: 30px 15% 30px 15%;
		font-size: 26px;
	}

	form input {
		font-size: 26px;
	}

	#results { 
		display: flex;
		flex-direction: row;
		flex-flow: wrap;
		justify-content: center;
	}

	.card {
		width: 40%;
		margin: 5px 5px;
	}

	.expand {
		position: absolute;
	}

}

@media screen and (min-width: 1400px) {

	form {
		text-align: center;
	}

	.card {
		text-align: center;
	}

	.card img {
		margin: 0 20px 0 5px;
	}

	.info h3 {
		font-size: 1.4rem;
	}

	.info p {
		font-size: 16px;
	}

	.card input {
		font-size: 18px;
	}

	.button-container {
		flex-direction: column;
	}
}
